<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
  {% if title %}
      <title>{{ title }} (￣ω￣)~Haekendes</title>
  {% endif %}
  {% block styles %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='slick.grid.css') }}" type="text/css"/>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='slick-default-theme.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='select2.min.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="https://static.wikia.nocookie.net/ageofempires/images/8/8c/Blastfurnace.jpg">
  {% endblock %}
  {% block scripts %}
    <script src="https://www.gstatic.com/charts/loader.js"></script>
  {% endblock %}
</head>
<body>
  <div class="container hv-100">
  <div class="row p-4 m-4">
    <div class="col-sm">
      <select id="select-catcher" class="browser-default custom-select style-2">
        <option></option>
      </select>
    </div>
    <div class="col-sm">
      <select id="select-pitcher" class="browser-default custom-select">
        <option></option>
      </select>
      </div>
  </div>
  <div>
    <table class="table " width="100%">
      <tr>
        <td valign="top" class="grid-col w-100">
          <div id="myGrid"></div>
        </td>
      </tr>
    </table>
  </div>
  <div id="chart1" class="chart"></div>
  <div id="chart2" class="chart"></div>
  <div id="chart3" class="chart"></div>
</div>

<script src="{{ url_for('static', filename='jquery-1.12.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='jquery.event.drag-2.3.0.js') }}"></script>

<script src="{{ url_for('static', filename='slick.core.js') }}"></script>
<script src="{{ url_for('static', filename='slick.grid.js') }}"></script>

<script src="{{ url_for('static', filename='select2.min.js') }}"></script>
<script>
  const version = 0.1;
</script>
<script src="{{ url_for('static', filename='home.js') }}"></script>
</body>
</html>